body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: lightgray;
  }

  #board-container {
    display: grid;
    grid-template-columns: repeat(8, 50px);
    grid-template-rows: repeat(8, 50px);
    border: 1px solid black;
    max-width: calc(50px*8px );
    padding: auto;
    margin: auto;
  }

  .square {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
  }

  .piece {
    font-size: 20px;
    color: black;
  }

  input {
    margin: 5px;
  }