body {
  margin: 8px;
}
.authentication-forms {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.form-container {
  width: 300px;
  margin: 0 auto;
}

.form-container > * {
  margin: 10px auto 0px;
}

.form-container > label {
  margin: 0 auto;
  font-weight: 800;
  text-align: center;
}
.game-screen {
  display: flex;
  justify-content: row;
  justify-content: space-around;
  width: 100%;
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;

  /* flex-wrap: wrap; */
}

.game > .btn-col > button {
  width: 100%;
}

button:hover {
  background-color: rgb(196, 180, 180);
  transition: 1s;
}

#table {
  margin-bottom: 30px;

  /* width: 400px; */
  /* height: 400px; */
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  /* grid-gap: 1px; */
}
#table > * {
  margin: 0;
  padding: 0;
}
.cell {
  border: 1px solid black;
  width: 50px;
  height: 50px;
  font-weight: 900;
  margin: 0;
}

.leave-game-btn {
  max-height: 50px;
}

#evolutionRectangle {
  opacity: "1";
  position: "absolute";
  top: "33%";
  left: "0";
  width: "100%";
  height: "33%";
}

.capturedPieceImage {
  height: 35px;

  padding-left: 5px;
}

.evolutionPiece {
  font-size: 3rem;
  text-align: center;
  line-height: 6rem;
  float: left;
  width: 100px;
  height: 100px;
  padding-top: 10%;
}

.information-panel {
  width: auto;
}

.game-history-overview {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-height: 250px;
  /* flex-grow: 1; */
  overflow: scroll;
  width: auto;
}

.game-history-move {
  border: 1px solid black;
  width: 100px;
  text-align: center;
}

button {
  display: inline-flex;
  padding: 6px 23px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid #000;
  background: #aaa;
}

.joinGame {
  margin: 0 auto;
  display: flex;
  width: 380px;
  max-height: 500px;
  padding: 16px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  flex-shrink: 0;
}

.lobby-body {
  border: 1px solid;
  padding: 40px;
  margin: 16px;
  display: flex;
  width: 380px;
  max-height: 500px;
  padding: 16px;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  flex-shrink: 0;
}

.input-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

input {
  width: 100%;
  border: 3px solid gray;
  color: black;
  height: 30px;
  border-radius: 8px;
}

.users-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.users-col > * {
  background-color: white;
  font-size: 1.5em;
  font-weight: 500;
}

.users-col > *:hover {
  background-color: lightgray;
  transition: 0.5s;
}

#past-moves {
  margin: 0 auto;
  padding: 0 auto;
  margin-bottom: 0px;
}

.information-panel {
  border: 1px solid;
  margin: 8px;
  padding: 4px 8px;
}

.clock > * {
  text-align: center;
  font-weight: 900;
}
